# Archivos auxiliares de LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.bcf
*.blg
*.run.xml
*.fls
*.fdb_latexmk
*.synctex.gz
*.idx
*.ilg
*.ind
*.nav
*.snm
*.vrb
*.xdv

# PDF compilado (descomentar si NO querés versionarlo)
# main.pdf
